\
/* ===================================]
   RESET
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#0f0f0f;
    color:#f4f1ea;
    overflow-x:hidden;
    line-height:1.7;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/* ===================================
   VARIABLES
=================================== */

:root{

    --bg:#0f0f0f;
    --bg-secondary:#171717;
    --card:#1d1d1d;

    --gold:#c8a96b;
    --gold-dark:#a88547;

    --burgundy:#6f1d1b;
    --burgundy-light:#8d2b27;

    --text:#f4f1ea;
    --text-muted:#b8b1a4;

    --border:rgba(200,169,107,.15);

}



/* ===================================
   CONTAINER
=================================== */

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

/* ===================================
   TYPOGRAPHY
=================================== */

h1{
    font-size:clamp(2.8rem,5vw,4.8rem);
    line-height:1.1;
    font-weight:700;
    margin-bottom:25px;
}

h2{
    font-size:clamp(2rem,4vw,3.5rem);
    line-height:1.1;
    margin-bottom:20px;
}

h3{
    font-size:1.4rem;
    margin-bottom:15px;
}

p{
    color:var(--text-muted);
}

.section-tag{
    color:var(--gold);
    font-size:.85rem;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:15px;
    display:block;
}

.section-heading{
    text-align:center;
    margin-bottom:90px;
}

/* =========================
   HEADER
========================= */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    background:rgba(15,15,15,.85);
    backdrop-filter:blur(16px);

    border-bottom:1px solid rgba(200,169,107,.12);
}

.header .container{

    display:flex;
    justify-content:space-between;
    align-items:center;

    height:90px;

}

.logo img{
    height:200px;
    width:auto;
}

.footer-logo img{
    width:240px;
}

.navbar ul{

    display:flex;
    align-items:center;
    gap:35px;

}

.navbar a{

    color:#f4f1ea;
    font-weight:500;
    transition:.3s;

}

.navbar a:hover{
    color:#c8a96b;
}

@media(max-width:992px){

    .navbar{
        display:none;
    }

}

/* ===================================
   BUTTONS
=================================== */

.btn-primary{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:16px 34px;
    border-radius:8px;
    background:linear-gradient(
        135deg,
        var(--burgundy),
        var(--burgundy-light)
    );
    color:white;
    font-weight:600;
    transition:.35s;
}

.btn-primary:hover{
    transform:translateY(-4px);
}

.btn-secondary{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:16px 34px;
    border:1px solid var(--gold);
    color:var(--gold);
    border-radius:8px;
    transition:.35s;
}

.btn-secondary:hover{
    background:var(--gold);
    color:black;
}


.hero{
    height:620px;
    padding-top:90px;


    background:
        linear-gradient(
            90deg,
            rgba(0,0,0,.92) 0%,
            rgba(0,0,0,.72) 36%,
            rgba(0,0,0,.30) 62%,
            rgba(0,0,0,.08) 100%
        ),
        url("../images/hero-healthcare.PNG");

    background-size:cover;
    background-position:center center;

    display:flex;
    align-items:center;
}

main{
    padding-top:80px;
}

.hero-content{
    width:90%;
    max-width:1300px;
    margin:auto;
}

.hero-text{
    max-width:560px;
    margin-top:-35px;
}

.hero-tag{
    display:block;
    color:var(--gold);
    font-size:.85rem;
    letter-spacing:2px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:18px;
}

.hero h1{
    font-size:clamp(2.8rem,4.6vw,4.8rem);
    line-height:1.05;
    margin-bottom:24px;
}

.hero h1 span{
    color:var(--gold);
    display:block;
}

.hero p{
    max-width:560px;
    font-size:1.05rem;
    margin-bottom:34px;
}

.hero-buttons{
    display:flex;
    gap:18px;
    flex-wrap:wrap;
}


/* ===================================
   PAGE HERO
=================================== */

.page-hero{

    padding:280px 0 120px;

    text-align:center;

    background:
    linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.85)
    ),

    url('../images/hero-healthcare.PNG');

    background-size:cover;
    background-position:center;
}

.page-hero h1{
    max-width:900px;
    margin:auto;
}

.page-hero p{
    max-width:750px;
    margin:25px auto 0;
    font-size:1.1rem;
}

.page-hero span{
    color:var(--gold);
}

/* ===================================
   PROGRAMS
=================================== */

.programs{
    padding:120px 0;
}

/* ===========================
   PROGRAMS HEADER
=========================== */

.programs{
    padding:120px 0;
}

.programs-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:60px;
    margin-bottom:60px;
}

.programs-left{
    flex:1;
}

.programs-right{
    max-width:420px;
}

.programs-right p{
    color:var(--text-muted);
    font-size:1.05rem;
    line-height:1.8;
}

.programs-label{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.programs-label span{
    color:var(--gold);
    font-size:.9rem;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
    white-space:nowrap;
}

.programs-label .line{
    width:120px;
    height:1px;
    background:var(--gold);
    opacity:.6;
}

.programs-left h2{
    font-size:clamp(2.2rem,4vw,3.8rem);
    font-family:Georgia, serif;
    font-weight:400;
    margin-bottom:0;
}

.program-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.program-card{
    position:relative;
    text-align:left;
}
.program-card{
    text-align:center;
}
.program-icon{
    margin:0 auto 20px;
}
.program-card h3,
.program-card h2,
.program-card p{
    text-align:center;
}

.program-number{
    position:absolute;
    top:20px;
    left:20px;

    width:48px;
    height:48px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#8d2b27;
    color:white;

    font-weight:700;

    border-radius:6px;
}

.program-card{

    background:var(--card);

    border:1px solid var(--border);

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

}

.program-card:hover{

    transform:translateY(-10px);

    border-color:var(--gold);

}

.program-icon{

    font-size:3rem;

    padding:30px;

    color:var(--gold);

}

.program-card h2{
    font-size:1.6rem;
    padding:0 30px;
}

.program-card p{
    padding:0 30px;
}

.program-card ul{
    padding:25px 30px;
}

.program-card li{
    padding:10px 0;
    color:var(--text);
}

.program-card .btn-primary{
    margin:0 30px 30px;
}
.learn-more{
    display:inline-flex;
    align-items:center;
    gap:8px;

    margin-top:25px;

    color:var(--gold);
    font-weight:600;
    font-size:.95rem;
    text-transform:uppercase;
    letter-spacing:1px;

    transition:.3s;
}

.learn-more:hover{
    color:#fff;
    transform:translateX(5px);
}
.program-content{
    padding:30px;
}

.program-content p{
    margin-bottom:20px;
}

.learn-more{
    display:inline-block;

    margin-top:20px;

    color:var(--gold);
    text-decoration:none;

    font-weight:600;
    letter-spacing:1px;
    text-transform:uppercase;

    transition:.3s;
}

.learn-more:visited{
    color:var(--gold);
}

.learn-more:hover{
    color:#fff;
}

.program-card{
    text-align:left;
}

.program-card .learn-more{
    display:block;
    text-align:left;
}

@media(max-width:992px){

    .programs-top{
        flex-direction:column;
        gap:25px;
    }

    .programs-right{
        max-width:100%;
    }

}
/* ===================================
   WHY CHOOSE
=================================== */

.why-us{

    background:
    linear-gradient(
        90deg,
        #5d1616 0%,
        #6f1d1b 40%,
        #581514 100%
    );

    padding:70px 0;
}

.why-wrapper{

    display:grid;
    grid-template-columns:1.4fr repeat(5,1fr);
    gap:35px;
    align-items:flex-start;
}

.why-intro h2{

    font-size:3rem;
    line-height:1.1;
    margin:0;
    color:white;
}

.why-intro span{
    color:var(--gold);
}

.why-item{
    text-align:left;
}

.why-icon{

    font-size:2rem;
    color:var(--gold);

    margin-bottom:18px;
}

.why-item h3{

    font-size:1.2rem;
    color:white;

    margin-bottom:12px;
}

.why-item p{

    font-size:.95rem;
    line-height:1.7;
    color:rgba(255,255,255,.82);
}
.why-icon{
    margin-bottom:18px;
}

.why-icon img{
    width:34px;
    height:34px;
    object-fit:contain;
    opacity:.95;
}


@media(max-width:992px){

    .why-wrapper{

        grid-template-columns:1fr;
        gap:30px;
    }

    .why-intro{
        text-align:center;
    }

}
/* ===================================
   CAREERS
=================================== */

.about-section{

    background:#0f0f0f;

    padding:0;

    border-top:1px solid rgba(255,255,255,.05);
}

.about-grid{

    display:grid;
    grid-template-columns:1fr 1.5fr 1fr;

    align-items:stretch;
}

.about-content{

    padding:80px 50px;
}

.about-content h2{

    font-size:3.2rem;
    line-height:1.05;

    margin-bottom:25px;
}

.about-content p{

    margin-bottom:35px;

    color:var(--text-muted);
}

.about-image img{

    width:100%;
    height:100%;

    object-fit:cover;
}

.about-stats{

    padding:60px 40px;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.stat-item{

    padding:35px 0;

    border-bottom:1px solid rgba(255,255,255,.12);
}

.stat-item:last-child{
    border-bottom:none;
}

.stat-number{

    font-size:3rem;

    color:var(--gold);

    font-weight:700;

    margin-bottom:8px;
}

.stat-text{

    color:#f4f1ea;

    font-size:1rem;
}
/* ===================================
   CTA
=================================== */

.about-btn{

    display:inline-flex;

    align-items:center;

    gap:12px;

    padding:16px 30px;

    border:1px solid var(--gold);

    color:var(--gold);

    font-weight:600;

    transition:.35s;
}

.about-btn span{

    transition:.35s;
}

.about-btn:hover{

    background:rgba(200,169,107,.08);
}

.about-btn:hover span{

    transform:translateX(8px);
}

.journey-banner{

    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.65)
    ),
    url("../images/journey-bg.PNG");

    background-size:cover;
    background-position:center;

    padding:55px 80px;
}

.journey-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;
}

.journey-content h2{

    margin:0;

    font-size:3rem;

    line-height:1.1;

    max-width:500px;
}

.journey-content h2 span{
    color:var(--gold);
}

.journey-content p{

    max-width:420px;

    margin:0;
}

/* ==========================
   READY TO START CTA
========================== */

/* ===================================
   READY TO START CTA
=================================== */

.journey-banner{

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("../images/journey-bg.PNG");

    background-size:cover;
    background-position:center;

    padding:50px 70px;

    border-top:1px solid rgba(255,255,255,.08);
}

.journey-content{

    display:grid;
    grid-template-columns:1.3fr 1fr auto;

    align-items:center;

    gap:40px;
}

.journey-left h2{

    font-size:3rem;

    line-height:1.1;

    margin:0;

    color:white;
}

.journey-left span{

    color:var(--gold);
}

.journey-center p{

    color:#f4f1ea;

    font-size:1rem;

    line-height:1.8;

    margin:0;
}

.journey-btn{

    display:inline-flex;

    align-items:center;

    gap:12px;

    padding:18px 36px;

    border:1px solid var(--gold);

    color:var(--gold);

    font-weight:600;

    transition:.35s;
}

.journey-btn span{

    transition:.35s;
}

.journey-btn:hover span{

    transform:translateX(8px);
}

.journey-btn:hover{

    background:rgba(200,169,107,.10);
}

@media(max-width:992px){

    .journey-content{

        grid-template-columns:1fr;

        text-align:center;

        gap:25px;
    }

    .journey-left h2{

        font-size:2.2rem;
    }
}
/* ===================================
   FOOTER
=================================== */

.footer{
    background:#090909;
    border-top:1px solid rgba(200,169,107,.15);
    padding:90px 0 30px;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:60px;
}

.footer-logo img{
    width:250px;
    margin-bottom:20px;
}

.footer-brand p{
    color:#b8b1a4;
    max-width:280px;
}

.footer h4{
    color:#c8a96b;
    margin-bottom:22px;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:1px;
}

.footer a{
    display:block;
    color:#f4f1ea;
    margin-bottom:10px;
    transition:.3s;
}

.footer a:hover{
    color:#c8a96b;
}

.footer p{
    color:#b8b1a4;
    margin-bottom:12px;
}

.footer-bottom{
    margin-top:50px;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
}

.footer-bottom p{
    color:#8f8f8f;
    font-size:.9rem;
}

@media(max-width:992px){

    .footer-grid{
        grid-template-columns:1fr;
        gap:40px;
    }

}

/* ===================================
   MOBILE
=================================== */

@media(max-width:992px){

    .program-grid{
        grid-template-columns:1fr;
    }

    .why-grid{
        grid-template-columns:1fr;
    }

    .career-grid{
        grid-template-columns:1fr;
    }

    
}

@media(max-width:768px){

    .page-hero{
        padding:130px 0 90px;
    }

    h1{
        font-size:2.8rem;
    }

}
