<header class="header">

    <div class="container">

        <a href="index.html" class="logo">
            <img src="images/logov.PNG" alt="Vital Care Logo">
        </a>

        <!-- Desktop Menu -->

        <nav class="navbar">

           <ul>

    <li>
        <a href="index.html">Home</a>
    </li>

    <li>
        <a href="about.html">About</a>
    </li>

    <li>
        <a href="programs.html">Programs</a>
    </li>

    <li>
        <a href="book-online.html" class="book-online-nav">
            Book Online
        </a>
    </li>

    <li>
        <a href="school-calendar.html">
            School Calendar
        </a>
    </li>

    <li>
        <a href="careers.html">Careers</a>
    </li>

    <li>
        <a href="contact.html">Contact</a>
    </li>

</ul>

        </nav>

        <a href="book-online.html" class="btn-secondary desktop-btn">
            Apply Now
        </a>

        <!-- Mobile Toggle -->

        <div class="menu-toggle" id="menuToggle">
            ☰
        </div>

    </div>

    <!-- Mobile Menu -->

    <div class="mobile-menu" id="mobileMenu">

        <a href="index.html">Home</a>
<a href="about.html">About</a>
<a href="programs.html">Programs</a>
<a href="book-online.html">Book Online</a>
<a href="school-calendar.html">School Calendar</a>
<a href="careers.html">Careers</a>
<a href="contact.html">Contact</a>
    </div>

</header>
