<header class="header">

    <div class="container">

        <a href="index.html" class="logo">
            <img src="images/logov.PNG" alt="Vital Care Logo">
        </a>

        <nav class="navbar">

            <ul>

                <li>
                    <a href="index.html">Home</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="programs.html">Programs</a>
                </li>

                <li>
                    <a href="admissions.html">Admissions</a>
                </li>

                <li>
                    <a href="careers.html">Careers</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>

            </ul>

        </nav>

        <a href="contact.html" class="btn-secondary">
            Apply Now
        </a>

    </div>

</header>
